.buttonDisabled {
  background-color: var(--dark-gray);
}

.button {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  padding: 1rem 1.5rem;
  transition: background-color .1s ease-out;
}

.button:not(.buttonDisabled) {
  background-color: var(--moderate-cyan);
}

.button:not(.buttonDisabled):hover, button:focus {
  cursor: pointer;
  background-color: var(--dark-cyan);
}