@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: gainsboro;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 93%;
  max-width: 1200px;
  margin-inline: auto;
}
